<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Productos</title>
  <link rel="stylesheet" href="../../estilo/estilo.css">
  <link rel="stylesheet" href="../../estilo/bootstrap.css">
  <link rel="stylesheet" href="../../estilo/bootstrap.css.map">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
</head>

<body>
  <div class="container mt-4">
    <h1>Lista de Productos</h1>
    <!-- Barra de búsqueda -->
    <div class="form-group mt-3">
      <input type="text" class="form-control" id="searchInput" placeholder="Buscar por nombre" oninput="buscarProductos()">
    </div>
    <!-- Botón para crear un nuevo producto -->
       
    <div id="crear" data-load="crear.html"></div>
   
    <div id="listar" data-load="./listar.html"></div>
   

    
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="../../js/page/insetarCodigo.js"></script>
  <script src="../../js/productos/crearProducto.js"></script>
  <script src="../../js/productos/BotonCrear.js"></script>
</body>

</html>
